<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDqQkE-bKe3lkaRJwnsO-PZUqHvaqwst4</string>
	<key>GCM_SENDER_ID</key>
	<string>792887887163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kirtidhwaj.Bhumitra</string>
	<key>PROJECT_ID</key>
	<string>mybhoomi-backend-1773512735</string>
	<key>STORAGE_BUCKET</key>
	<string>mybhoomi-backend-1773512735.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792887887163:ios:a75a8cdb4d8a120160631e</string>
</dict>
</plist>